!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = "#{@page_title} $" if @page_title
      Tweetsworth $ 100% Guaranteed Accurate Twitter Valuation
    %link{ :href => "/style.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %script{ :type => "text/javascript", :src => "/jquery.js" }
    %script{ :type => "text/javascript", :src => "/jquery.corner.js" }
    / Drop in an erb file that just contains Javascript - that way, any Javascript we need is contained cleanly in a
    / separate file, and we can also wrap it in <script type="text/javascript"> tags: which in our editor of choice,
    / TextMate, is the best way to get syntax highlighting.
    = erb :layout_js
    = @js
  %body
    #container
      #header
        %a{:href => "/"}
          %img{:src => "/tweetsworth.gif"}
      #content
        / Checking for these params means we can show messages to the user by tacking on a "failure" or "notice"
        / parameter.  E.g. on localhost: http://localhost:4567/?notice=Your account was verified successfully.
        / That will display a notice with an account message in the layout.  This is the quick and dirty version of
        / Rails' flash messages.  In your application, use this as follows:
        / redirect "/new?failure=You failed to complete all required fields."
        / Note that since this is a redirect, the contents of unsaved instance variables will be lost: that's acceptable
        / for a simple application, but not for anything with more complex forms.
        - if params[:notice]
          .note.notice= params[:notice]
        - if params[:failure]
          .note.failure= params[:failure]
        
        = yield
      
      .spacer/
    #footer
      %p
        &copy; 2010 Tweetsworth.
    :plain
      <!-- Google Analytics -->
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5204727-46']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>