!!!
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = "#{@page_title} &plusmn;"  if @page_title
      Tweetsworth
    %link{ :href => "/style.css", :title => "no title", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %script{ :type => "text/javascript", :src => "/jquery.js" }
    = erb :layout_js
    = @js
  %body
    #container
      #header
        %a{:href => "/"}
          %h1 Tweetsworth
      #main
        - if params[:notice]
          %div.note-success
            = params[:notice]
        - if params[:failure]
          %div.note-failure
            = params[:failure]
        
        = yield

      .spacer/
    #footer
      %p
        &copy; 2010 Tom Creighton &amp; Adrian Duyzer.