%h1
  %img{:src => @person.profile_image_url, :style => "vertical-align: middle; padding-right: 20px;"}
  = @person.name

.spacer{:style => "height: 20px;"}

#progress
  %img.loader{:src => "/loader.gif"}
  %table
    - progress_statements.each_with_index do |statement, i|
      %tr{:id => "statement_#{i}"}
        %td= statement.first
        %th= statement.last
  .spacer

#results

  = haml session[:nature].to_sym, :layout => false
  
  %br/
  
  %p
    Link to your account valuation with
    %a{:href => "#{request.path}" }= "http://tweetsworth.com#{request.path}"

  .spacer{:style => "height: 30px;"}
  
  %h2 You are now faced with an important choice between GOOD and EVIL.
  
  %table.data
    %tr
      %td
        %big
          %strong Good
      %td
        %big
          %strong Evil
    %tr
      %td
        %p
          The good algorithm has nothing but nice things to say. It likes big numbers.
          - if session[:nature] == "good"
            %strong This is the algorithm that ranked your account.          
      %td
        %p
          The evil algorithm is always insulting and loves the number zero above all. But at
          least it has a sense of humour.
          - if session[:nature] == "evil"
            %strong Unfortunately, this is the algorithm that ranked your account. Sorry!
    %tr
      %td
        %p
          People who go to
          %a{:href => "http://tweetsworth.com/g"} http://tweetsworth.com/g
          will be ranked with the good algorithm.
      %td
        %p
          People who go to
          %a{:href => "http://tweetsworth.com/e"} http://tweetsworth.com/e
          will be ranked with the evil algorithm.
    %tr
      %td
        %h2
          %a{:href => "http://twitter.com/home/?status=" + CGI::escape(good_share)} Retweet for GOOD
                
      %td
        %h2
          %a{:href => "http://twitter.com/home/?status=" + CGI::escape(evil_share)} Retweet for EVIL
  
    
  .spacer{:style => "height: 50px;"}
      
  = haml :factore, :layout => false