%h1
  %img{:src => @person.profile_image_url, :style => "vertical-align: middle; padding-right: 20px;"}
  = @person.name

.spacer{:style => "height: 20px;"}

#progress
  %img.loader{:src => "/loader.gif"}
  %table
    - progress_statements.each_with_index do |statement, i|
      %tr{:id => "statement_#{i}"}
        %td= statement.first
        %th= statement.last
  .spacer

#results

  .callout
    %strong Finished calculation! Your Twitter account is worth
    %h1 $0.00
    %strong
      Rating:
      = rating_insult
  
  Here are the calculations Tweetsworth used:
  
  %table.data
    %tr
      %td
        %img{:src => "/tweets.gif"}
        %h3
          Total Tweets:
          %strong= @person.statuses_count
        = tweet_insult(@person.statuses_count)
      %td
        %img{:src => "/globe.gif"}
        %h3
          Followers:
          %strong= @person.followers_count
        = follower_insult(@person.followers_count)
    %tr
      %td
        %img{:src => "/member.gif"}
        %h3
          Tweeting Since:
          %strong= @person.joined_twitter_at.strftime("%B %d %Y")
        = duration_insult(@person.joined_twitter_at)
      %td
        %img{:src => "/retweet.gif"}
        %h3
          Retweets:
          %strong Unknown.
        = retweet_insult
  
  %h2
    %a{:href => "http://twitter.com/home/?status=" + CGI::escape(share)} Prank your friends!!!
    
  .spacer{:style => "height: 50px;"}
      
  = haml :"_factore", :layout => false