%h1
  %img{:src => @person.profile_image_url, :style => "vertical-align: middle; padding-right: 20px;"}
  = @person.name

.spacer{:style => "height: 20px;"}

#progress
  %img.loader{:src => "/loader.gif"}
  %table
    - progress_statements.each_with_index do |statement, i|
      %tr{:id => "statement_#{i}"}
        %td= statement.first
        %th= statement.last
  .spacer

#results

  .callout
    %strong Finished calculation! Your Twitter account is worth
    %h1 $0.00
    %strong Rating: Inconsequential
  
  Here are the calculations Tweetsworth used:
  
  %table.data
    %tr
      %td
        %img{:src => "/tweets.gif"}
        %h3
          Total Tweets:
          %strong= @person.statuses_count
        You sure like the sound of your own voice.
      %td
        %img{:src => "/globe.gif"}
        %h3
          Followers:
          %strong= @person.followers_count
        That's like, what, a small village? A hamlet? Way to escape the farmstead, chief.
    %tr
      %td
        %img{:src => "/member.gif"}
        %h3
          Tweeting Since:
          %strong= @person.joined_twitter_at.strftime("%B %d %Y")
        Words thrown into a void, my friend. Sad, really.
      %td
        %img{:src => "/retweet.gif"}
        %h3
          Retweets:
          %strong I dunno.
        Your retweets are so boring our algorithm fell asleep.
  
  %h2
    %a{:href => "http://twitter.com/?status=" + CGI::escape("Just got surprisingly accurate results from world's first 100% guaranteed accurate Twitter account valuator. http://tweetsworth.com")} Share Tweetsworth with a Friend!